<footer>
    <div class = "separator"></div>
    <div class = "fBox">
        <div class="author">
            Martyna Kolaska, 2025
        </div>
        <div class="socials">
            <a href="https://github.com/mkolaska04"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</footer>

<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
</html>