:root {
    --main-bg-color: #1e1e24;
    --primary-color: #779BE7;
    --secondary-color:#0d6efd;
    --light-color: #f7f7f7;
    --succes:#2ECC71;
    --option:#7209b7;
    --outline: #E0E0E0;
    --light-background: #F2F2F2;
}